<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Dynamic Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserInitializer.afterClass()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@2173f6d9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:33</td>   <td>10554</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserInitializer.afterClass()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@38bc8ab5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="cd678c">  <td>19/03/06 14:47:12</td>   <td>-10202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTests.homepageTests()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@2173f6d9]">homepageTests</td> 
  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="cd678c">  <td>19/03/06 14:47:27</td>   <td>4847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTests.homepageTests()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@38bc8ab5]">homepageTests</td> 
  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:05</td>   <td>-17725</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserInitializer.initializeTestBaseSetup(java.lang.String, java.lang.String, java.lang.Boolean)[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@2173f6d9]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:24</td>   <td>994</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserInitializer.initializeTestBaseSetup(java.lang.String, java.lang.String, java.lang.Boolean)[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@38bc8ab5]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:23</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserInitializer.tearDown(org.testng.ITestResult)[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@2173f6d9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:23</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;BrowserInitializer.tearDown()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@2173f6d9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:33</td>   <td>10256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserInitializer.tearDown(org.testng.ITestResult)[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@38bc8ab5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>19/03/06 14:47:33</td>   <td>10555</td> <td>&nbsp;</td><td title="&lt;&lt;BrowserInitializer.tearDown()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@38bc8ab5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@167185492</td>   <td></td> </tr>
</table>
