<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Dynamic Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f67ad">  <td>19/02/20 12:07:48</td>   <td>0</td> <td title="&gt;&gt;TestBaseSetup2.execute()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@764faa6]">&gt;&gt;execute</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166726978</td>   <td></td> </tr>
<tr bgcolor="a17077">  <td>19/02/20 12:07:55</td>   <td>7348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTests.homepageTests()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@764faa6]">homepageTests</td> 
  <td>main@1166726978</td>   <td></td> </tr>
<tr bgcolor="7f67ad">  <td>19/02/20 12:07:55</td>   <td>7348</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSetup2.initializeTestBaseSetup(java.lang.String, java.lang.String)[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@764faa6]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166726978</td>   <td></td> </tr>
<tr bgcolor="7f67ad">  <td>19/02/20 12:07:55</td>   <td>7348</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseSetup2.tearDown()[pri:0, instance:gourav.tests.homepage.GoogleHomePageTests@764faa6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
